html,
body {
  height: 100%
}

* {
  margin: 0;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  isolation: isolate;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  --fontSize: 1rem;

  header {
    padding: 0;
  }

  button {
    margin: 0.5rem 0.5rem 0.5rem 0;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    width: 3rem;
  }

  table {
    width: 100%;
    font-size: var(--fontSize);

    &,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;

      &:last-child,
      &:last-child {
        text-align: right;
      }
    }

    td,
    th {
      padding: 0 2%;
    }


    tr input {
      height: 100%;
      width: 100%;
      background: none;
      border: none;
      font-weight: inherit;
      font-family: inherit;
      font-size: inherit;
      text-align: inherit;
      outline: none;
    }

    thead,
    tfoot {
      background-color: lightgray;
    }

  }

}